<!-- blog/templates/blog/post_detail.html -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>{{ post.title }}</h1>
    </header>
    <div class="container">
        <article class="post">
            <p>{{ post.text }}</p>
        </article>

        <div class="comments">
            <div class="comments-header">
                <h2>Comments</h2>
            </div>
            {% for comment in comments %}
            <div class="comment">
                <p>{{ comment.text }}</p>
                <small>by {{ comment.author }}</small>
            </div>
            {% endfor %}
        </div>

    </div>

</body>
</html>
